<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epsoft.ahshare.entity.Student">
    <resultMap id="BaseResultMap" type="com.epsoft.ahshare.entity.Student">
        <result column="stuNo" jdbcType="INTEGER" property="stuNo" />
    </resultMap>
 
    <select id="queryByNO" resultType="com.epsoft.ahshare.mapper.StudentMapper">
        select * from student where stuNo = #{stuNo}
    </select>
</mapper>
